@font-face {
    font-family: 'Super Trend';
    src: url('fonts/SuperTrend.woff2') format('woff2'),
        url('fonts/SuperTrend.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body{
    background-color: rgb(212, 212, 212);
}
.master-heading{
    font-family: 'Super Trend';
    font-size:80px;
    text-align: center;
}

.bottom-footer{
    text-align:center;
}

.master-container{
    display:grid;
    grid-template-columns: 1.2fr 1fr 1.2fr;
    grid-template-rows:0.5fr 3fr 0.5fr;
    text-align: center;
}
.master-container>*
{
    border:2px solid red;
}
.upper-space{
    grid-area: 1/1/2/4;
    font-size: 40px;
    font-weight: 600;

}

.bottom-space{
    grid-area:3/1/4/4;
}

.square-box-inside{
    width:400px;
    height:400px;
    background-color:white;
    display:flex;
    flex-direction:column;
    justify-content: center;
}

.name-input-form{
    display:none;
    flex-direction: column;
    align-items: center;
    Gap:20px;
    border:2px solid red;
    font-size: 30px;
}

.player-name-input{
    font-size: 20px;
}
.name-form-submit{
    width:30%;
    border-radius: 10px;
}

.opponent-type-panel{
    display:none;
    flex-direction:column;
    gap:20px;

}

.choose-opponent{
    box-shadow: 5px 5px 10px;
    border-radius: 10px;
    margin:15px;
    font-size: 30px;
    font-weight:900;
    height: 100px;
}