@font-face {
    font-family: 'Super Trend';
    src: url('SuperTrend.woff2') format('woff2'),
        url('SuperTrend.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

